@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

/* Expo Arabic font import */
@font-face {
  font-family: 'Expo Arabic';
  src: url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.eot');
  src: url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/02d7b1c487d4f3e58cf8c4f769cc08d1.svg#Expo Arabic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Expo Arabic';
  src: url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.eot');
  src: url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/9e72207b53f0cdd271af99a568891bdb.svg#Expo Arabic') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Expo Arabic';
  src: url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.eot');
  src: url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/6c3dde92f72b576f7b461bd5eea6d3d5.svg#Expo Arabic') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Expo Arabic';
  src: url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.eot');
  src: url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/a1b278e8cd54b14e3e6327f0e8f11f3e.svg#Expo Arabic') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
